{% include image.html
align="right"
width=170
url="/assets/real-bio-photo.jpg"
%}

<p style="margin-bottom: -5px;">
<span style="font-family:Roboto;font-size:30px;color:DarkRed;">
Fengjun Yang 杨逢君</span>
<a href="https://scholar.google.com/citations?user=7FfHurgAAAAJ&hl=en">[Scholar]</a>
<a href="https://linkedin.com/in/fengjun-yang-920328a9">[Linkedin]</a> </p>
<p style="margin-bottom: 45px;"> <b>Email</b>: fengjun [att] seas.upenn.edu </p>

<p style="margin-bottom: -5px;"> Ph.D. Student </p>
<p style="margin-bottom: -5px;"> Department of Computer and Information Science </p>
<p style="margin-bottom: 30px;"> University of Pennsylvania </p>
